.App {
  flex-grow: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-container {
  margin-top: 0rem;
  padding-right: 0rem !important;
}

.slider-control {
  display: flex;
  align-items: center;

  & > p {
    padding-left: 1rem;
    margin: 0;
    virtical-align: middle;
    position: relative;
    top: -3px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 1280px) {
  .top-grid {
    padding-bottom: 0 !important;
  }
  .bottom-grid {
    padding-top: 0 !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiToggleButtonGroup-root {
  display: flex !important;
  > * {
    flex-grow: 1 !important;
  }
}